html, body {
  margin: 0;
  font-family: Arial;
  color: $secondary-color;
}

p, a {
  font-size: 1rem;
}

img {
  padding-left: 30px;
  height: 350px;
  width: 550px;
}

ul {
  list-style: none;
}

.container {
  min-height: 100%;
  display: flex;

} 